# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

/Users/mitchellwestmoreland/repos/agentWithTools/src/agentWithTools.code-workspace
